body {
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.2s ease;
}

button {
    padding: 30px 60px;
    font-size: 30px;
    background-color: #ff4f69;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #06f3ff;
}